<div class="footer">
    <span class="footer-info-bogota">Bogotá</span>
    <span class="footer-info">Carrera 13 No.13-24, Oficina 909</span>
    <span class="footer-info">Edificio Lara</span>
    <span class="copyright">Copy Right © 2017 magnaabogados </span>
</div>