    <div class="nav1">
        <div class="nav-item"><a href="/">Inicio</a></div>
        <div class="nav-item"><a href="#">Contactenos</a></div>
        <div class="nav-item"><a href="#">Requisitos</a></div>
        <div class="nav-item"><a href="#">Servicios</a></div>
        <div class="nav-item"><a href="#">Conoscanos</a></div>
        <div class="nav-item"><a href="#">Politica de privacidad</a></div>
    </div>
    