<div>
<!--Imagen fondo-->
    <div>
        <img src="images/IMG1.jpg" alt="foto1" height="620px" width="100%">
        <i class="lema">“Inspirados en la justicia e involucrados en el respeto a la verdad”</i>
    </div>
<!--END Imagen fondo-->

<!--ACERCA DE NOSOTROS-->
<div class="acerca-de-nosotros">
    <span class="acerca-de">Acerca de nosotros</span>
    <p class="texto-descriptivo" >
        Somos una sociedad fundada en el año 2007, abogados apasionados por el derecho, con apoyo social, ofrecemos asesorias legales en diversas areas del derecho.
Nuestra oficina se encuentra en Bogotá, tenemos un equipo de expertos abogados que le acompañaran con amabilidad y responsabilidad
    </p>
</div>
<!--END ACERCA DE NOSOTROS-->

<!--AREAS DE TRABAJO-->
<div class="areas-de-trabajo">
    <span class="nuestras-areas-titulo">Nuestras areas de trabajo:</span>
        <p class="areas-de-trabajo-texto">Civil: <span class="texto-centrado"> Se dedican a asuntos en materia de Derecho Civil. Por tanto, defienden los intereses de particulares</span> </p>
        <p class="areas-de-trabajo-texto">Familiar: <span class="texto-centrado"> Los asuntos más comunes en los que intervienen son separaciones y divorcios.  </span></p>
        <p class="areas-de-trabajo-texto">Policivo: <span class="texto-centrado"> Cuerpo encargado de velar por el mantenimiento del orden público y la seguridad de los ciudadanos</span></p>
        <p class="areas-de-trabajo-texto">Laboral: <span class="texto-centrado"> Están especializados Derecho del Trabajo y de la Seguridad Social. </span></p>
        <p class="areas-de-trabajo-texto">Administrativo: <span class="texto-centrado"> administrativa realizando escritos de alegaciones, recursos de alzada o de reposición.</span></p>
</div>
<!--END AREAS DE TRABAJO-->
<!--CONTACTENOS-->
<div class="contactenos">
<span class="titulo-contactenos">¿Desea contactarnos?</span>
<div class="centrar-boton">
<a href="/contactenos"><button class="link-contactenos">Contactenos</button></a>
</div>
</div>
<!--END CONTACTENOS-->

{{!-- <!--Slider-->
<div class="contenedor-imagenes-slider">
<div id="carousel-example-generic" class=" carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/IMG1.jpg" alt="imagen1" height="100%" width="100%">
      <div class="carousel-caption">
         <i class="lema"> Justicia y respeto a la verdad</i>
      </div>
    </div>
    <div class="item">
      <img src="images/IMG2.jpg" alt="imagen2" height="100%" width="100%">
    </div>
  </div>
</div>
</div>
<!--END Slider--> --}}












</div>